table {font-size:2em; padding:5px; margin:5px; position:absolute; }

.ggrid-pagination-indicator { background:#333; color:#fff; -moz-border-radius:5px; border-radius:5px; }

.ggrid { font:normal 11px arial; border-spacing:0; padding:0; margin:0; position:static; border-collapse:collapse; }
.ggrid th { background:#eee; }
.ggrid th .zxgrid-field-panel { position:relative; width:auto; text-align:left; font-weight:normal; display:none; }
.ggrid th .zxgrid-field-panel-options { position:absolute; border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -moz-box-shadow:0px 0px 3px #333; -webkit-box-shadow:0px 0px 3px #333; box-shadow:0px 0px 3px #333; background:#fefefe !important; padding-bottom:3px; padding-right:3px; }
.ggrid th .zxgrid-field-panel-condition { position:absolute; border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -moz-box-shadow:0px 0px 3px #333; -webkit-box-shadow:0px 0px 3px #333; box-shadow:0px 0px 3px #333; background:#fefefe !important; padding-bottom:3px; padding-right:3px; }
.ggrid th .zxgrid-field-panel-condition input,
.ggrid th .zxgrid-field-panel-condition button,
.ggrid th .zxgrid-field-panel-condition select { margin:3px 0 0 3px; font-size:11px; width:70px; }

.ggrid td { background:#fff; }
.ggrid td,
.ggrid th { border:1px solid #ccc; }

.ggrid .ggrid-field-indicator { position:relative; float:right; border:1px solid #666; border-top:1px solid #fff; border-left:1px solid #fff; overflow:hidden; width:9px; height:9px; margin-bottom:-9px; ^width:11px; ^height:11px; ^margin-bottom:-11px; }
.ggrid .ggrid-field-indicator-sorting { background:url(/web/images/ggrid-sprite.png) #ccc 1px 0 no-repeat; }
.ggrid .ggrid-field-sorting-asc { background-position:-6px 0; }
.ggrid .ggrid-field-sorting-desc { background-position:-13px 0; }
.ggrid .ggrid-field-indicator-filtering { background:url(/web/images/ggrid-sprite.png) #ccc 1px -8px no-repeat; }
.ggrid .ggrid-field-filter-enabled { background-position:-6px -8px; }
.ggrid .ggrid-field-filter-disabled { background-position:-13px -8px; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

