
<div class="nav">
<a href="" class="selected">Home</a>
<a href="">Samples</a>
<a href="">Doc</a>
<a href="">Download</a>
<a href="">Support</a>
</div>

<div style="width:500px; margin:10px 0; ">
<div id="sample-homepage" style="height:400px; border:1px solid #ccc; -moz-border-radius:3px; border-radius:3px; padding:10px; ">
Loading sample data using YQL...
</div>
</div>


