<html>
<head>
<title>ggrid - An easy, fast and powerful jquery-based datagrid</title>
<link rel="stylesheet" type="text/css" href="/web/stylesheets/default.css">
<link rel="stylesheet" type="text/css" href="/web/stylesheets/ggrid.css">

<script src="/web/lib/jquery-1.8.2.min.js" type="text/javascript" ></script>
<script src="/web/lib/jquery-ui-1.8.24.custom.min.js" type="text/javascript" ></script>
<script src="/web/lib/jquery.mousewheel.js" type="text/javascript" ></script>
<script src="/web/lib/utils.js" type="text/javascript" ></script>
<script src="/web/lib/ggrid.js" type="text/javascript" ></script>

<script src="/web/controllers/home.js" type="text/javascript" ></script>
<script>
$(function(){
  home.init();
  home.homepage();
})
</script>
</head>
<body>
<div class="wrap">
  <div class="header">
    <h1>ggrid project</h1>
    <p>An easy, fast and powerful jquery-based datagrid</p>
  </div>
  <%include file="${path}"/>
  
  <p class="disclaimer">Disclaimer: This opensource project is under development and the author doesn't attempt to make any commercial profit or disclose any confidential of your business. To contact author, please write to dev.swang@gmail.com</p>
</div>
</body>
</html>